@charset "utd-8";
/* 폰트 가져오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
ul,
li{
    list-style: none;
}
img{
    border-style: none;
    vertical-align: middle;
}
html{
    font-size: 16px;
}
body{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.14;
    letter-spacing: 0px;
    /* 줄바꿈 할때 단어를 기준으로 설정 
    break-all: 줄바꿈을 하지 않는다.*/
    word-break: break-all;
}
.container{
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* clearfix*/
.clearfix::after{
    content: "";
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}
/* 모달창 */
.modal-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999999;
}
.modal-window{
    width: 600px;
    height: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-logo::after{
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #fff;
    border-radius: 50%;
    background: url("../images/chat-btn.png") no-repeat center;
    background-color: rgb(207, 255, 192);
    z-index: 99999999999;
}
.modal-main{
    width: 600px;
    height: 500px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
}
.modal-notice{
    width: 100%;
    height: 455px;
    padding: 160px 0 0 0;
    line-height: 2.5;
    font-size: 18px;
    font-weight: 400;
}
.modal-notice strong{
    color: #ed1c24;
    background: linear-gradient( to top, yellow 50%, transparent 50% );
}
.modal-notice span{
    font-size: 14px;
    font-weight: 300;
    color: #333;
}
.modal-close{
    width: 100%;
    height: 45px;
    background-color: #d8d8d8;
    padding: 13px;
    cursor: pointer;
}



/* top버튼 */
.top-button{
    position: fixed;
    right: 30px;
    bottom: 60px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.chat-btn{
    animation:updown 1.5s infinite;
}
/* 애니메이션 효과 */
@keyframes updown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}
.chat-btn span{
    position: absolute;
    top: 34px;
    left: -186px;
    width: 180px;
    background-color: #fff;
    border-radius: 23px;
    padding: 8px 10px;
    text-align: center;
    box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
    display: none;

}
.chat-btn:hover span{
    display: block;
}
.shop-btn{
    position: relative;
    display: block;
    width: 55px;
    line-height: 55px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 50%;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
}
.top-btn{
    width: 55px;
    line-height: 55px;
    border-radius: 50%;
    background-color: #ed1c24;
    text-align: center;
    box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
}
.top-btn img{
    transform: rotate(180deg);
}
.top-btn img.up{
    transform: rotate(0deg);
}


/* 전체 레이아웃 */
.wrap{
    position: relative;
    display: block;
}
/* 상단 */
.header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgb(255, 255, 255); */
    z-index: 9999;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.205);
}
.header:hover{
    height: calc(330px + 80px);
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
}
.header::after{
    content: "";
    position: absolute;
    top: 81px;
    left: 0;
    width: 100%;
    height: 330px;
    background-color :rgba(0, 0, 0, 0.5);
}
.header-inner{
    width: 100%;
    max-width: 1800px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
/* 로고 */
.logo{
    width: 220px;
    height: 100%;

    float: left;
    padding-top: 20px ;
}
/* 네비게이션(메뉴) */
.nav{
    width: calc(100% - 220px - 150px);
    float: left;
}
.gnb{
    width: calc(178px * 6);
    margin: 0 auto;
}
.gnb > li{
    width: 178px;
    float: left;
}
.gnb > li > a{
    font-size: 19px;
    font-weight: 500;
    line-height: 80px;
}
/* depth2 */
.depth2{
    padding: 40px 0;
}
.depth2 > li > a{
    color: #fff;
    font-size: 15px;
    line-height: 1.92;
}
/* 언어 */
.lang{
    width: 150px ;
    height: 100%;
    float: right;
    position: relative;
}
.lang-list{
    position: absolute;
    top: 20px;
    left: 23px;
}
.lang-list li{
    position: relative;
    float: left;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.lang-list li a {
    text-transform: uppercase;/* 입력한 단어의 철자를 대문자로 변환함 */
    font-size: 15px;
    font-weight: 700;
    color: #888;
}
.lang-list li:last-child a{
    color: #333;
}
.lang-list li::after{
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    width: 1px;
    height: 11px;
    background-color: #999;
}
.lang-list li:first-child:after{
    content: none;
}

/* 비주얼 (메인 택스트1) */
.visual{
    width: 100%;
    height: 910px;
    position: relative;
    display: block;
    background: url(../images/img_visual01.png) no-repeat center fixed;
    background-size: cover;
    margin-top: 80px;
}
.visual-inner{
    position: relative;
    height: 100%;
    padding: 1px;
}
.visual-slogan{
    position: relative;
    display: block;
    font-size: 70px;
    color: #fff;
    font-weight: 500;
    margin-top: 245px;
}
.visual-slogan::after{
    content: "";
    display: block;
    position: absolute;
    top: -48px;
    width: 60px;
    height: 5px;
    background-color: #ed1c24;
}
.visual-txt{
    position: relative;
    display: block;
    margin-top: 42px;
    font-size: 21px;
    color: #fff;
}
.visual-bt{
    width: 33px;
    height: 33px;
    font-size: 0;
    border: 0;
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    background: url("../images/bg_common.png")no-repeat;
    background-position: -122px 0;
    cursor: pointer;
}

/* 비지니스 (메인 택스트2) */
.business{
    width: 100%;
    position: relative;
    display: block;
}
.business h2{
    position: relative;
    font-size: 44px ;
    font-weight: 650;
    text-align: center;
    padding: 100px 0 22px 0;
    color: #000;
}
.business h2::after{
    content: "";
    width: 37px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 49%;
    background-color: #ed1c24;
}
.business p{
    position: relative;
    text-align: center;
    margin-top: 25px;
}

.business-list{
    width: 100%;
    padding-bottom: 144px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); */
}


.btn-area{
    text-align: center;
    width: 1200px;
    margin: 70px auto 0;
    display: table;
}
.btn-area > li{
    display: table-cell;
}
.btn-area li > a .list1, .list2, .list3, .list4, .list5{
    position: relative;
    width: 240px;
    height: 420px;
}
.btn-area > li a .text{
    font-size: 24px;
    font-weight: 320;
    color: #fff;
    text-align: center;
    padding-top: 94px;
}



/* 비지니스 이미지 영역 */
.list1 .img-area{
    width: 240px;
    height: 420px;
    background: url("../images/img_business.png");
}
.list2 .img-area{
    width: 240px;
    height: 420px;
    background: url("../images/img_business.png");
    background-position: -240px 0;
}
.list3 .img-area{
    width: 240px;
    height: 420px;
    background: url("../images/img_business.png");
    background-position: -480px 0;
}
.list4 .img-area{
    width: 240px;
    height: 420px;
    background: url("../images/img_business.png");
    background-position: -720px 0;
}
.list5 .img-area{
    width: 240px;
    height: 420px;
    background: url("../images/img_business.png");
    background-position: -960px 0;
}

/* 호버 애니메이션 */
.hover-area{
    width: 240px;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f48025;
    opacity:0;
    transition: 0.15s linear;
}
.hover-area:hover{
    opacity: 1;
}
.hover-area .icon{
    width: 130px;
    height: 112px;
    margin: 86px auto 90px;
    background:url("../images/bg_common.png");
    background-position: 0 0;
    z-index: 97;
}

.list1 > .hover-area > .icon{
    background-position:  -170px 0;
}
.list2 > .hover-area > .icon{
    background-position: -298px 0;
}
.list3 > .hover-area > .icon{
    background-position: 0 -120px;
}
.list4 > .hover-area > .icon{
    background-position: -139px -122px;
}
.list5 > .hover-area > .icon{
    background-position: -268px -115px;
}

/* 뉴스 */
.news{
    width: 100%;
    height: 480px;
    background-color: #f48025;
}
.news-bg{
    position: relative;
    width: 100%;
    height: 100%;
}
.notice-area{
    display: block;
    width: 50%;
    height: 100%;
    background-color: #ed1c24;
    float: left;
}
.news-area{
    display: block;
    width: 50%;
    height: 100%;
    background-color: #58595b;
    float: left;
}

/* 공지 | 보도 내용 설정 */
.list-wrap h2{
    margin-top: 45px;
    font-size: 32px ;
    color: #fff;
    font-weight: 300;
}
.list-wrap ul{
    margin-top: 40px ;
    width: 500px;
    max-width: 500px;
    min-width: 200px;
}
.list-wrap ul li{
    display: block;
    padding: 26px 0;
    border-top: 1px solid #ffffff67;
}
.list-wrap ul li:last-of-type{
    padding: 26px 0;
    border-bottom: 1px solid #ffffff67;
}
.list-wrap ul li a{
    height: 24px;
    font-size: 16px;
    color: #fff;
}
/* 말줄임 표시! */
.list-wrap ul li a span{
    width: 50%;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 줄내림 X */
    overflow: hidden;
}
.list-wrap ul li a > .news-more{
    width: 77px;
    height: 23px;
    background-image: url("../images/bg_common.png");
    background-position: 0px -49px;
    color: #00000000;
    float: right;
}
.notice-area .list-wrap{
    float: right;
    margin-right: 70px;
}
.news-area .list-wrap{
    float: left;
    margin-left: 70px;
}


/* cs */
.cs{
    width: 100%;
    height: 360px;
    padding: 60px 0 100px;
    background-color: #f8f8f8;
}
.cs-wrap{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-color: white;
}
.cs-wrap h2{
    font-size: 30px;
    font-weight: 500;
}
.cs-wrap p{
    margin-top: 15px;
    line-height: 1.5em;
}
.cs .faq{
    padding: 40px 56px;
    width: 50%;
    height: 100%;
    border-right: 1px solid #f8f8f8;
    float: left;
    background: url("../images/bg_faq.png") no-repeat 90% center;
}
.cs .as{
    padding: 40px 56px;
    width: 50%;
    height: 100%;
    border-left: 1px solid #f8f8f8;
    float: left;
    background: url("../images/bg_custom.png") no-repeat 90% center;
}

/* about */
.about{
    width: 100%;
}
.about-wrap{
    margin: 98px auto;
}
.about-us{
    width: 1200px;
    height: 370px;
    margin: 0 auto;
    background: url("../images/img_about.png") no-repeat 90% center;
}

/* 어바웃 글씨창 너비 */
.about-text{
    /* width: 450px; */
}
.about-text h2{
    font-size: 44px;
    font-weight: 600;
    color: #000;
    padding-top: 25px;
    margin-bottom: 40px
}
.about-wrap-Pbox{
    padding-left: 100px;
    position: relative;
}
.about-text .about-wrap-Pbox::after{
    content: "";
    width: 37px;
    height: 5px;
    position: absolute;
    top: 18px;
    left: 0;
    background-color: #ed1c24;
}
.about-text p:first-of-type{
    font-size: 21px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}
.about-text p:last-of-type{
    font-size: 15px;
}

/* about icon 어바웃 아이콘 */
.about-icon{
    width: 1200px;
    margin: 0 auto;
}
.about-icon ul{
    width: 730px;
    height: 165px;
    margin: 80px auto 0px;
    position: relative;
}
.about-icon ul > li{
    height: 120px;
    display: inline-block;
    text-align: center;
}


/* 아이콘 글씨 */
.about-icon ul span{
    display: block;
    padding-top: 130px;
    font-size: 22px;
    font-weight: 500;
    color: #000;
}
.about-icon ul .about-icon-1 a{
    width: 103px;
    height: 108px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/bg_icon.png")no-repeat ;
}
.about-icon ul .about-icon-2 a{
    width: 103px;
    height: 108px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url("../images/bg_icon.png") no-repeat ;
    background-position: -116px 0;
}
.about-icon ul .about-icon-3 a{
    width: 103px;
    height: 108px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/bg_icon.png") no-repeat ;
    background-position: -235px 0;
}


/* 푸터 */
.footer{
    width: 100%;
    height: 168px;
    background-color: #4e4e4e;
}
.footer-wrap{
    width:1200px;
    height: 168px;
    margin: 0 auto;
    padding-top: 50px;
}
.footer-wrap img{
    width: 122px;
    float: left;
}
.footer-wrap a ul{
    width: 840px ;
    float: left;
    color: #c3c3c3;
    font-size: 13px;
    padding-left: 135px;
    line-height: 1.8;
}